
.vs/
*.zip
*.bat
*.pck
*.xc
*.xv
*.atr
*.xv
*.atr
*.cmn
*.imm2
*.immninf
*.mbn
*.imminf
*.mtm2
*.mtminf
*.mtn2
*.mtninf
*.mtr
*.prm
*.txp
*.xi
RES.bin
EnumaLimunadaCMD/bin/Debug/temp/
EnumaLimunadaCMD/bin/Release/temp
EnumaLimunadaCMD/bin/Debug/converted/
EnumaLimunadaCMD/bin/Release/converted/
EnumaLimunadaCMD/obj/
EnumaLimunadaGUI/bin/Debug/temp/
EnumaLimunadaGUI/bin/Release/temp
EnumaLimunadaGUI/bin/Debug/converted/
EnumaLimunadaGUI/bin/Release/converted/
EnumaLimunadaGUI/obj/